:root {
    --color-text-primary: #1d1d1d;
    --color-text-secondary: #6b7280;

    --color-primary-600: #1e40af;
    --color-primary-500: #1d4ed8;
    --color-primary-200: #93c5fd;
    --color-primary-100: #dbeafe;
    --color-primary-50: #f0f6ff;

    --indentation-between-sections: 10rem;
}

body {
    margin: 0;
    min-height: 100vh;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-text-secondary);
}

.header {
    padding: 1rem 0;
    background: var(--color-primary-50);
}

.header .container {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer {
    padding: 1rem 0;
    background: var(--color-primary-50);
}

.footer .container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}


.hero {
    padding-top: 3rem;
    background: linear-gradient(180deg,
            var(--color-primary-50) 0%,
            #ffffff 60%);
}

.hero .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 40px;
    align-items: center;

    margin-bottom: var(--indentation-between-sections);
}

.hero__title {
    margin-bottom: 1rem;
}

.hero__subtitle {
    font-size: 1.25rem;
    line-height: 1.75rem;

    margin-bottom: 2rem;
}

.hero__img {
    width: 100%;
    height: 400px;
    object-fit: cover;

    background: var(--color-primary-500);

    border-radius: 20px;
}


.advantages {
    margin-bottom: var(--indentation-between-sections);
}

.advantages__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 3rem;
}

.advantages__card {}

.advantages__card-icon-box {
    height: 3rem;
    width: 3rem;

    border-radius: 50%;

    background: var(--color-primary-100);

    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages__card-icon {}

.advantages__card-title {
    margin-bottom: 1rem;
}

.how .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    align-items: center;

    margin-bottom: var(--indentation-between-sections);
}

.how__content {
    display: flex;
    justify-content: center;
}



.how__img {
    width: 100%;

    border-radius: 3rem;
}

.how__card {
    display: flex;
    column-gap: 2rem;
    align-items: center;

    margin-bottom: 1.5rem;
}

.how__card:last-child {
    margin-bottom: 0;
}

.how__card-icon-box {
    height: 3rem;
    width: 3rem;

    border-radius: 50%;

    background: var(--color-primary-100);

    display: flex;
    align-items: center;
    justify-content: center;
}

.how__card-title {}

.how__card-text {}

.where {
    margin-bottom: var(--indentation-between-sections);
}

.where__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.where__card {}


.where__card-img {
    width: 100%;
    margin-bottom: 0.5rem;

    border-radius: 1.5rem;
}

.where__card-text {
    text-align: center;
}

.do-it {
    padding: var(--indentation-between-sections) 0;
    position: relative;
    z-index: 1;
}

.do-it::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/media/img/sky.jpg) center / cover no-repeat;
    opacity: .7;
}

.do-it__title {
    max-width: 43rem;
}

.hover-item {
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 1.5);
}

.hover-item:hover {
    transform: translateY(-6px);
}

@media (max-width: 720px) {
    :root {
        --indentation-between-sections: 6rem;
    }

    .hero {
        padding-top: 1rem;
    }

    .hero .container {
        grid-template-columns: 1fr;
        grid-template-areas: "img" "content";
        gap: 2rem;
    }

    .hero__info {
        grid-area: content;
    }

    .hero__img {
        grid-area: img;
        height: 320px;
    }

    .advantages__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .how .container {
        grid-template-columns: 1fr;

    }

    .how__img {
        display: none;
    }

    .how__content {
        display: block;
    }

    .how__card {
        margin-bottom: 2rem;
    }

    .where__list {
        grid-template-columns: 1fr;
    }

    .do-it::after {
        background-image: url(/media/img/sky-mob.png);
    }
}