.h1, h2, h3 {
    color: var(--color-text-primary);
}

.h1 {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 800;
}

.h2 {
    letter-spacing: -0.025em;
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 2.5rem;

    margin-bottom: 2rem;
}

.h3 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@media (max-width: 720px) {
    .h1 {
        font-size: 2.25rem;
    }
}